@import 'https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core@5/index.css';

/* Estilos para el contenedor del visor */
html, body, #viewer {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

/* Estilos para el botón de cambio de imagen */
#toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
